[submodule "amundsendatabuilder"]
	path = amundsendatabuilder
	url = ../amundsendatabuilder
	branch = master
[submodule "amundsenfrontendlibrary"]
	path = amundsenfrontendlibrary
	url = ../amundsenfrontendlibrary
	branch = master
[submodule "amundsenmetadatalibrary"]
	path = amundsenmetadatalibrary
	url = ../amundsenmetadatalibrary
	branch = master
[submodule "amundsensearchlibrary"]
	path = amundsensearchlibrary
	url = ../amundsensearchlibrary
	branch = master
[submodule "amundsencommon"]
	path = amundsencommon
	url = ../amundsencommon
	branch = master
[submodule "amundsengremlin"]
	path = amundsengremlin
	url = ../amundsengremlin
	branch = master
[submodule "amundsenrds"]
	path = amundsenrds
	url = ../amundsenrds.git
